
<div class="d-flex p-2 justify-content-between">
<h3>ALL Users</h3>
<Button class="btn btn-secondary text">
  <%= link_to "Add New User", new_user_path,:class => "text-light"%>
</Button>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S No.</th>
        <th scope="col">User Id</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Courses Ids</th>
        <th scope="col">No. Of Courses</th>
        <th scope="col">No. Of Projects</th>
        <th colspan="3">User Info.</th>
      </tr>
    </thead>
  <% index = 1 %>
  <% @users.each do |i| %>
    <tbody>
      <tr>
        <td><%= index %></td>
        <td><%= i.id %></td>
        <td><%= i.name %></td>
        <td><%= i.city %></td>
        <td><%= i.course_ids %></td>
        <td><%= i.course_ids.count %></td>
        <td><%= i.project_ids.count %></td>
        <td><%= link_to i do%>
          <i class="fa-solid fa-eye text-info"></i>
        <%end%>
        </td> 
        <td><%= link_to edit_user_path(i) do%>
          <i class="fa-solid fa-pen text-warning"></i> 
        <%end%>
        </td>  
        <td><%= link_to i, data:{method: :delete, confirm: "Are you Sure?"} do%>
          <i class="fa-solid fa-trash text-danger"></i>
        <%end%>
        </td> 
      <% index = index+1 %> 
    </tr>
    </tbody>
  <% end %>
</table>
<%# add jquery and script for tr clickable and show
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(function() {
    $('tr').css('cursor', 'pointer')

    .click(function() {
        window.location = $('a', this).attr('href');
        return false;
    });
});
</script> %>
